

$colors:(
  white-primary:#ffffff,
  red-dark:#a21623,
  red-primary: #F44336,
  pink-primary: #E91E63,
  purple-primary: #9C27B0,
  deep-purple-primary: #673AB7,
  indigo-primary: #3F51B5,
  blue-primary: #2196F3,
  light-blue-primary: #03A9F4,
  cyan-primary: #00BCD4,
  teal-primary: #009688,
  green-primary: #4CAF50,
  light-green-primary: #8BC34A,
  lime-primary: #CDDC39,
  yellow-primary: #FFEB3B,
  amber-primary: #FFC107,
  orange-primary: #FF9800,
  deep-orange-primary: #FF5722,
  brown-primary: #795548,
  grey-primary: #9E9E9E,
  blue-grey-primary: #607D8B,
  dark-primary:#222
);

$topnav-background-color: #000;
$sidebar-background-color: #0d78c9;
$sidebar-background-color-tranparent: #0d78c960;
$sidebar-background-color-tranparent-dark: #0d78c9bd;
$lighblue-background-border:rgba($color: #1bbef0, $alpha: 0.5);