<!--<app-loader></app-loader>-->

   
    <router-outlet></router-outlet>


<!--
<div class="login-container shadow3 " id="accordion">
  <div [@alert]="stateName" class="alert alert-danger" role="alert" *ngIf="alert.status ==='Error'">
    <strong>{{alert.status}}</strong>&nbsp;{{alert.message}}
    <br>
    <div *ngIf="showlinkactive">Click
      <a href="javascript:void(0)" (click)="showactivated()">here</a> for activate</div>
  </div>
  <div [@alert]="stateName" class="alert alert-success" role="alert" *ngIf="alert.status ==='Success'">
    <strong>{{alert.status}}</strong>&nbsp;{{alert.message}}
  </div>

  <div [@panel]="stateNamePanel" class="pane-login shadow2" *ngIf="routeParam ==='aktivasi'">
    <div class="pane">
      <h4>Activate</h4>
    </div>
    <div class="panel " style="padding-top: 20px !important;">

      <div class="form-group">
        <label for="aktivatekode">Kode Aktivasi</label>
        <input type="text" class="form-control form-control-sm shadow" id="aktivatekode" placeholder="Activate Code" [(ngModel)]="activatecode">
      
      </div>

      <nav class="navbar">

        <span class="mt-3 shadow  " style="font-style: italic; font-weight: bold">
          <a data-toggle="collapse" data-parent="#accordion" href="#resetPassword" (click)="onResendKodeAktivasi()">Kirim lagi Kode Aktivasi</a>
        </span>

        <div class="ml-auto">
          <button class="btn btn-sm btn-outline-success" (click)="onActivated()">OK</button>
          <button class="btn btn-sm btn-outline-danger" (click)="onBatalactivate()">Batal</button>
        </div>

      </nav>
    </div>
  </div>

  <div [@panel]="stateNamePanel" class="pane-login shadow2" *ngIf="routeParam ==='daftar'" >
    <div class="pane">
      <h4>SIGN UP</h4>
    </div>
    <div class="panel " style="padding-top: 20px !important;">

      <div class="form-group">
        <label for="emaildaftar">Email address</label>
        <input type="email" class="form-control form-control-sm shadow" id="emaildaftar" aria-describedby="emailHelp" placeholder="Enter email"
          [(ngModel)]="daftar.email">
      
      </div>

      <div class="form-group">
        <label for="daftarpassword">Password</label>
        <input type="password" class="form-control form-control-sm shadow" id="daftarpassword" placeholder="Password" [(ngModel)]="daftar.password">
      </div>
      <div class="form-group">
        <label for="retypedaftarpassword">Password</label>
        <input type="password" class="form-control form-control-sm shadow" id="retypedaftarpassword" placeholder="Retype Password"
          [(ngModel)]="daftar.retypepassword">
      </div>
      <button type="button" class="btn btn-sm btn-outline-info shadow" [disabled] = "daftarpassword !== retypedaftarpassword" (click)="doDaftar()">SIGN UP</button>
    </div>
  </div>

  <div [@panel]="stateNamePanel" class="pane-login shadow2" *ngIf=" routeParam === 'login' ">
    <div class="pane">
      <h4>LOGIN</h4>
    </div>
    <div class="panel " style="padding-top: 20px !important;">
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control form-control-sm shadow" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
          [(ngModel)]="email">
       
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control form-control-sm shadow" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="password">
      </div>
      <button type="button" class="btn btn-sm btn-outline-info shadow" (click)="doLogin()">Login</button>

      <span class="mt-3 shadow  ml-auto" style="font-style: italic; font-weight: bold">
        <a data-toggle="collapse" data-parent="#accordion" href="#resetPassword" (click)="forgotPassword()">Lupa Password ?</a>
      </span>


    </div>


  </div>

  <div [@panel]="stateNamePanel" class="pane-login shadow2" id="resetKesetPassword" *ngIf="routeParam ==='request reset'">
    <div class="pane">
      <h4>Reset Password</h4>
    </div>
    <div class="panel " style="padding-top: 20px !important;">
      <div class="form-group">
        <label for="emailReset">Email address</label>
        <input type="email" class="form-control form-control-sm shadow" id="emailReset" aria-describedby="emailHelp" placeholder="Enter email"
          [(ngModel)]="emailReset">
      </div>
    </div>

    <nav class="navbar">
      <div class="ml-auto">
        <button class="btn btn-sm btn-outline-primary" (click)="getResetKode()">Kirim</button>
        <button class="btn btn-sm btn-outline-danger" (click)=" showerror = showerror ? !showerror : showerror; batalkodereset() ">Batal</button>
      </div>

    </nav>
  </div>

  <div [@panel]="stateNamePanel" class="pane-login shadow2" id="resetPassword" *ngIf="routeParam ==='reset'">
    <div class="pane">
      <h4>Reset Password</h4>
    </div>
    <div class="panel " style="padding-top: 20px !important;">
      <div class="form-group">
        <label for="resetpassword1">Kode Reset</label>
        <input type="text" class="form-control form-control-sm shadow" id="kodeReset" placeholder="Kode Reset" [(ngModel)]="kodeReset">

      </div>
      <div class="form-group">
        <label for="passwordReset">Password</label>
        <input type="password" class="form-control form-control-sm shadow" id="passwordReset" placeholder="Password" [(ngModel)]="passwordReset">
      </div>
      <div class="form-group">
        <label for="retypePasswordReset">Retype Password</label>
        <input type="password" class="form-control form-control-sm shadow" id="retypePasswordReset" placeholder="Retype Password"
          [(ngModel)]="retypePasswordReset">
      </div>
    </div>
    <nav class="navbar">

      <span class="mt-3 shadow  " style="font-style: italic; font-weight: bold">
        <a data-toggle="collapse" data-parent="#accordion" href="#resetPassword" (click)="resendKode()">Resend Code</a>
      </span>

      <div class="ml-auto">
        <button class="btn btn-sm btn-outline-success" (click)="onResetPassword()">Reset</button>
        <button class="btn btn-sm btn-outline-danger" (click)="batalreset()">Batal</button>
      </div>

    </nav>
  </div>

</div>

<div class="loader" *ngIf="showloader">
  <div class="loaderpanel">
    <a>
      <i class=" fa fa-spinner fa-spin fa-2x"></i>
    </a>
    <br> {{loaderstatus}}
  </div>
</div> -->
