<div id="content" class=" page-content">
 

  <div [@fadeInAnimation]="" *ngIf="idparam === 'jaringan_kantor'">
    <h4>JARINGAN KANTOR</h4>

    <div class="row">
      <div class="col-md-4 p-1">
        <div class="card p-2">
          <h5>Kantor Pusat</h5>

          <div>
            <agm-map [latitude]="lat" [longitude]="lng" [scrollwheel]="true" [zoom]="zoom">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
          <div>
            <span><i class="fa fa-fw fa-phone"></i></span><br>
            <span><i class="fa fa-fw fa-fax"></i></span><br>
            <span><i class="fa fa-fw fa-envelope"></i></span>
          </div>
        </div>
       
      </div>
      <div class="col-md-4 p-1">
        <div class="card p-2">
          <h5> Cab. Sei Suka</h5>
          <div>
          
          </div>
          <div>
            <span><i class="fa fa-fw fa-phone"></i></span><br>
            <span><i class="fa fa-fw fa-fax"></i></span><br>
            <span><i class="fa fa-fw fa-envelope"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-1">
        <div class="card p-2">
          <h5>Cab. Sinaksak</h5>
          <div>
            <agm-map [latitude]="latsinaksak" [longitude]="lngsinaksak" [scrollwheel]="true" [zoom]="zoom">
              <agm-marker [latitude]="latsinaksak" [longitude]="lngsinaksak"></agm-marker>
            </agm-map>
          </div>
          <div>
            <span><i class="fa fa-fw fa-phone"></i></span><br>
            <span><i class="fa fa-fw fa-fax"></i></span><br>
            <span><i class="fa fa-fw fa-envelope"></i></span>
          </div>
        </div>
      </div>
      <div class="col-md-3 p-1">
        <div class="card p-2">
          <h5>Cab. Mandoge</h5>
          <div>

          </div>
          <div>
            <span><i class="fa fa-fw fa-phone"></i></span><br>
            <span><i class="fa fa-fw fa-fax"></i></span><br>
            <span><i class="fa fa-fw fa-envelope"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [@fadeInAnimation]="" *ngIf="idparam === 'faq'">
    <h4>FAQ</h4>
  </div>

  <!-- <h4>Kontak Kami</h4>
  <div id="contactus" class=" page-content ">
    <div class="form-group">
      <input type="text" placeholder="Nama *" class="form-control form-control-sm shadow"name="nama">
    </div>
    <div class="form-group">
      <input type="email" class="form-control form-control-sm shadow" id="emaildaftar" aria-describedby="emailHelp" placeholder="Email *">
    </div>
    <div class="form-group">
     <textarea name="pesan" id="" class="form-control form-control-sm shadow" placeholder="Pesan *" cols="30" rows="10"></textarea>
    </div>
    <div class=" form-group mb-2">
      <button class="btn btn-outline-success pull-right shadow ">Kirim</button>
    </div>
  
  </div> -->
</div>
