/*
 * Style tweaks
 * --------------------------------------------------
 */

 @import "../../styles/_runningtext";
 @import "../../styles/_variable";
body,
html {
  background-color: lightblue;
}

.navbar-brand{
  img{
    width: 35px;
    height: 35px;
  }
}
.navbar-nav {
  li{
    a:hover {
      background-color: $sidebar-background-color-tranparent;
      color: map-get($colors, pink-primary);
    }
    a:focus{
      background-color: $sidebar-background-color-tranparent;
      color:  map-get($colors, white-primary);
    }
  }
}
.nav-custom-bg,.nav-custom-menu-bg{
  background-color: $sidebar-background-color-tranparent-dark;
}

.main-content {
  margin: 55px auto;
  width: 100%;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  .left-content {
    width: 80%;
    padding: 10px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    *> {
      width: 100%;
    }
  }
  .right-content {
    min-width: 250px;
    width: 20%;
    background-color: aqua;
    padding-top: 20px;
    padding: 10px;
  }
  #carouselExampleIndicators {
    min-height: 150px;
  }
}

.sidebar {
  border-radius: 0;
  position: fixed;

  z-index: 500;
  top: 60px;
  left: 350px;
  bottom: 0px;
  width: 235px;

  margin-left: -235px;
  border: none;
  border-radius: 0;


  padding-top: 5px;
  padding-left:5px;
  padding-right: 7px;
  padding-bottom: 240px;
  overflow-x: hidden;
  overflow-y: scroll;

  background-color: $sidebar-background-color-tranparent;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; 


  
  
  // border-top: 1px solid rgba(255,255,255,0.3);
  /*.img {
    width: 100% !important;
  }
  .list-group {
    a.list-group-item {
      background: $topnav-background-color;
      border: 0;
      border-radius: 0;
      color: #999;
      text-decoration: none;
      .fa {
        margin-right: 10px;
      }
    }
    a:hover {
      // background: darken($topnav-background-color, 5%);
      background: $lighblue-background-border;
      color: #fff;
      width: 250px;
    }
    a.router-link-active {
      // background: darken($topnav-background-color, 5%);
      background: darken( $lighblue-background-border, 20%);
      color: #fff;
      width: 250px;
    }
    .header-fields {
      padding-top: 10px;
      >.list-group-item:first-child {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }
  .sidebar-dropdown {
    *:focus {
      border-radius: none;
      border: none;
    }
    .panel-title {
      font-size: 1rem;
      height: 50px;
      margin-bottom: 0;
      a {
        color: #999;
        text-decoration: none;
        font-weight: 400;
        background: $topnav-background-color;
        span {
          position: relative;
          display: block;
          padding: 0.75rem 1.5rem;
          padding-top: 1rem;
        }
      }
      a:hover,
      a:focus {
        color: #fff;
        outline: none;
        outline-offset: -2px;
      }
    }
    .panel-title:hover {
      background: darken($topnav-background-color, 5%);
    }
    .panel-collapse {
      border-radious: 0;
      border: none;
      .panel-body {
        .list-group-item {
          border-radius: 0;
          background-color: $topnav-background-color;
          border: 0 solid transparent;
          a {
            color: #999;
          }
          a:hover {
            color: #fff;
          }
        }
        .list-group-item:hover {
          background: darken($topnav-background-color, 5%);
        }
      }
    }
  }*/
  .sidebar-panel {
  max-width: 235px;
  align-self: auto;
  align-content: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  #logo{
    a{
      img{
        width: 85px;
      }
    }
  }
  .card{
    font-size: 10px;
    width: 100%;
    h6{
      font-weight: bolder;
      font-style: italic;
      color: map-get($colors, blue-primary );
    }
  }


}


.main-container {
  margin-top: 60px;
  margin-left: 350px;
  margin-right: 150px;
  padding: 0px;
  -ms-overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  overflow: hidden;
  bottom: 0;
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  #carouselExampleIndicators {
    min-height: 150px;
  }
}

.sidebuton {
  display: none;
  z-index: 150;
}

#ojklogo{
 background-color: map-get($colors , red-dark );
}

.footer-element{
  //background-color:  map-get($colors, dark-primary);
  background-color: map-get($colors , red-dark );
  color:  map-get($colors, red    -primary);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px;
  padding-bottom: 0px;
  min-height: 250px;

  
  .card {
    max-height: 350px;
    max-width: 350px;
    overflow-y: auto;
    color: map-get($colors, white-primary );
    background-color: transparent;
    .fa{
      font-size: 22px;
    }
    .fa-facebook{
      color:map-get($colors , deep-purple-primary);
     
    }
    .fa-twitter {
      color:map-get($colors , blue-primary );
    }
    .fa-whatsapp {
      color:map-get($colors , green-primary );
    }
  }

  #footer-content{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 100%;
    padding: 10px;
 

  }
  #footer-by{
    width: 100%;
    padding: 5px;
    height: 65px;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding-top: 20px;
    background-color: $sidebar-background-color-tranparent-dark;
  }

}



/*
  * Off Canvas
  * --------------------------------------------------
  */

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }
  .row-offcanvas-right {
    right: 0;
  }
  .row-offcanvas-left {
    left: 0;
  }
  .row-offcanvas-right .sidebar-offcanvas {
    right: -100%;
    /* 12 columns */
  }
  .row-offcanvas-right.active .sidebar-offcanvas {
    right: -50%;
    /* 6 columns */
  }
  .row-offcanvas-left .sidebar-offcanvas {
    left: -100%;
    /* 12 columns */
  }
  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -50%;
    /* 6 columns */
  }
  .row-offcanvas-right.active {
    right: 50%;
    /* 6 columns */
  }
  .row-offcanvas-left.active {
    left: 50%;
    /* 6 columns */
  }
  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%;
    /* 6 columns */
  }
  .main-container {
    margin-left: 0px;
    margin-right: 0px;
  }
  .sidebar {
    left: 0px;
 
  }
  .sidebuton {
    display: flex !important;
    z-index: 999 !important;
    position: fixed;
    top:65px;
    left: 5px;
  }
}

@media screen and (min-width: 767px) {
  .main-container {
    margin-left: 250px !important;
    margin-right: 2% !important;
  }
  .sidebar {
    left: 250px !important; 

    background-color: $sidebar-background-color-tranparent !important;
  }
}
@media screen and (min-width: 896px) {
  .main-container {
    margin-left: 350px !important;
   
    margin-right: 10% !important;
  }
  .sidebar {
    left: 350px !important;
   
    background-color: $sidebar-background-color-tranparent !important;
  }
}
